
body {
	font-family : Verdana,Geneva,sans-serif;
}

.sidebar-block {
	padding: 20px;
	color: #363b51;
	font-size: 28px;
	margin: 25px 0px;
	background-color:#fff;
	border-radius:4px;
	box-shadow : 0 0 6px rgba(0,0,0,.2);

}
.sidebar-block:last-child{
	margin-bottom:15px;
}
.sidebar-block a:hover{
	text-decoration : none;
}
.sidebar-block h3{
	border-bottom: 4px solid #b3de1d;
}
.modal-content {
	background-color:rgba(51, 51, 51, 0.77)
}
.modal-title {
	color : #b3de1d;	
}
.modal-footer {
	border-top:1px solid #b3de1d;
}

body {
	background-color: #f6f6f6;
	font-size: 12px;
	line-height: 20px;
}
.cover {
  	height:120px;
  	background-attachment : fixed;
  	background-size : 100%;
}
.main_content {
	min-height : 850px;
	margin-top: 60px;
}
.chat-list {
    display : block;
}

.chats .list-group-item {
    padding : 0px;
	display : table-cell;
}
.chats .media-left {
    padding : 0px;
}
.chats .media-body {
    display : none;
    height : 100%
}
.messages {
    width : 75%;
}
.messages .media {
    display : inline;
}
.messages .btn {
	width : 100%;	
}
.messages textarea {
	height : 34px;
	width : 100% !important;
}
.list-img {
    list-style : none;
	width:100%;
    padding : 0px;
    margin : 0px;
}
.list-img li{
    float : left;
    margin : 0px;
	width:150px;
	height:150px;
    overflow : hidden;
}
.list-img a {
    display : block;
}
.list-img img {
    display : block;
	width:100%;
	 height:100%;
    transition : all 0.6s ease;
}

.list-img img:hover {
    transform : scale(1.1);
}
.user-list {
	margin :20px 0px;
	padding : 25px;
	box-shadow : 0 0 6px rgba(0,0,0,.1);
	background-color : #fff;
}
.user-list i {
	color:#b3de1d;
}
.user-list .media{
	border-bottom : 1px solid #b3de1d;
	padding-bottom:15px;
}
.user-list .media-object {
	width:55px;
	height:55px;
}
.profile{
	top: -126px;
	left: 20px;
	position: absolute;
	color: #fff;
}
.profile-username{
	text-align : center;
	letter-spacing : 5px;
	color : #fff;
	text-shadow : 1px 1px rgba(0,0,0,.4);
}
.profile-image{
	width:75px;
	height:75px;
	border-radius : 10px;
	margin-top:45px;
	box-shadow : 0 0 6px rgba(0,0,0,.4);
}
.empty {
	color:#b3de1d;
	padding : 0px 5px 0px 5px; 
}
.color {
	color : #b3de1d;
}

.panel {
	margin-top : 20px;
    border-radius : 6px;
	box-shadow : 0 0 6px rgba(0,0,0,.2);
}
.panel-default > .panel-heading {
    border : none;
    padding : 0px;
}
.panel-heading.title {
	background-color: #b3de1d;
	padding: 5px 5px 5px 50px;
}
.panel-body {
    padding: 10px;
}
.panel-heading h4{
	padding:15px 15px 15px 0px;
}
.sidebar-block img {
	width : 55px;
	height : 55px;
}

.sidebar-list-item {
  margin-bottom :10px;
}

.wall-post-container {
	box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.25);
	border-radius: 5px;
	position: relative;
	width: 100%;
	margin-bottom: 50px;
	background-color: #fff;
}
.image-container {
	padding: 7px;
	position: relative;
}
.image-container .post-image{
	width: 100%;
	height: auto;
	vertical-align: middle;
	border: 0;
}
.author-image{
	position: absolute;
	bottom: -15px;
	left: 37%;
	border: 3px solid #fff;
	box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.5);
	border-radius: 5px;
	width: 65px;
  	height:65px;
}
.image-post-title{
	text-align : center;
	margin-top:20px;
}
.item-post-content {
	padding: 10px 20px 20px 20px;
	color: #666;
	height: auto;
}
.text-post{
	padding: 5px;
	margin-bottom: 40px;
}
.text-post-author {
	padding:5px;
}
.text-post img {
	width: 55px;
	height: 55px;
	border: 3px solid #fff;
	box-shadow: 0px 1px 3px 0px;
	border-radius: 5px;
}
.line {
	border-bottom: 1px solid #b3de1d;
	padding: 10px 0;
	position: relative;
}
.line::before {
  	content: "";
  	width: 0;
  	left: 19px;
  	top: 11px;
  	position: absolute;
  	height: 0;
  	border-bottom: 10px solid #b3de1d;
  	border-right: 10px solid transparent;
  	border-left: 10px solid transparent;
}
.line::after {
  	content: "";
  	width: 0;
  	left: 19px;
  	top: 12px;
  	position: absolute;
  	height: 0;
  	border-bottom: 10px solid #fff;
  	border-right: 10px solid transparent;
	border-left: 10px solid transparent;
}
.text-post-content {
	padding: 10px;
	word-wrap: break-word;
}
.media.comments{
	padding: 0px 5px 2px 15px;
	margin-top: 5px;
	margin-bottom: 3px;
}
.message-form {
	padding: 15px;
	background-color: #b3de1d;
}
.message-form input {
	width : 90%;
}
.message-form .btn {
  	padding: 5px;
  	margin-left: -12px;
  	margin-top: -1px;
}
.poster-image {
	width : 55px;
	height : 55px;
}
.localle {
	padding: 4px !important;
	margin-top: 8px;
  	border-bottom: 1px solid #dbdbdb;
}
.localle img { 
	width : 25px;
	height:25px;
}
.image-list > .col-md-3.col-sm-4.col-xs-6 {
	padding : 0px;
}
.image-list img {
	width : 100%;
	height:150px;
}
.error{
	margin-top:250px;
	text-align : center;
}
.code{
	font-size: 150px;
	color : #b3de1d;	
}
.text {
	margin-top: 60px;
	font-size: 25px;
}
.btn-nav-alt {
	width : 100%;
	background-color :#333;
	border : 2px solid #b3de1d;
    color : #b3de1d !important;
    width : 100%;
	padding : 5px !important;
	margin-top : 8px;
	margin-left : 2px;

}
.btn-nav-alt:hover {
	text-decoration : none;
  	color : #b3de1d;  
}
.btn-toggle {
	background : transparent;
	font-size : 23px;
}
.btn-toggle:hover {
  	background-color : #000;
  	color : #b3de1d;
}
.btn-nav {
	border :1px solid #b3de1d;
	color :#333;
	background-color :#b3de1d;
	width : 100%;
	box-shadow : 0 0 6px rgba(0,0,0,.1);
} 
.btn-nav:hover {
	border-color :#333;
	background-color :#333;
  color : #b3de1d;
}
.btn-nav:focus {
	border-color :#b3de1d;
	background-color :#333;
  	color : #b3de1d;
}
.btn-accept {
	border :1px solid #b3de1d;
	color :#333;
	background-color :#b3de1d;
	padding: 5px;
	margin-right : 5px;
	width:25%;
}
.btn-deny {
	border : 1px solid #b3de1d;
	color : #b3de1d;
	background-color : #333;
	padding: 5px;
	margin-right : 5px;
	width : 25%;
}
.btn-deny:hover{
	text-decoration:none;
	color : #b3de1d;
}
.btn-search {
	color:#000;
	background-color: #b3de1d;
	border-color:#8DB20C;
}
.btn-search:hover {
	box-shadow: inset 0 0 6px rgba(0,0,0,.1);
}
.dropdown-menu {
	background-color : rgba(51, 51, 51, 0.77);
}
.dropdown-menu > li > .media {
	padding:5px; 
	width:315px;
}
.dropdown-menu > li > .media > a {
	color : #b3de1d;
}
.dropdown-menu > li > .media > a:hover {
	color : #b3de1d;	
}
.dropdown-menu > li > a {
	color : #b3de1d;
}
.dropdown-menu > li > a:hover {
	background-color :#b3de1d;
}
.dropdown img {
	border: 3px solid #b3de1d;
	box-shadow: 0px 1px 3px 0px;
	border-radius: 5px;
	color : transparent;
}
.divider {
	background-color : #b3de1d !important;
}
.form-group.comments {
	width : 100%;
	display:inline-flex;
}
.form-control.comment-textfield {
	width : 70%;
	background-color :#f1f1f1;
	margin : 1px 0px 0px 0px;
}
.form-control.comment-submit {
	width: 40% !important;
	margin: 1px 0px -1px -2px;
}
.comment-submit {
	margin-left : -3px;
	padding:5px;
}

.load-link {
	border:none;
	color :#0077CC;
	background-color : #fff
}
.load-link.body {
	background-color : #f6f6f6;
}
.dropdown {
	margin : 8px 5px 0px 0px;
}
#carousel-custom {
	width:100%;
}

#carousel-custom .carousel-inner{
	position: relative;
    width: 100%;
    overflow: hidden;
}

#carousel-custom .carousel-indicators {
    margin: 10px 0px 0px 0px;
    overflow-x: auto;
    position: static;
    text-align: left;
    white-space: nowrap;
    width: 100%;
    text-align:center;
}

#carousel-custom .carousel-indicators li {
    background-color: transparent;
    -webkit-border-radius: 0;
    border-radius: 0;
    display: inline-block;
    height: auto;
    margin: 0 !important;
    width: auto;
    cursor:pointer;
    text-indent:0px;
}
#carousel-custom .carousel-indicators li img{
	width :50px;
	height:50px;
}
#carousel-custom.carousel-indicators .active{
	width :auto;
	height:auto;
}

.carousel-control.left {
	background-image : none;
	height:83%;
}
.carousel-control.right {
	background-image : none;
	height:83%;
}
.item img {
	width:100%;
	height :250px !important; 
}
.navbar-brand {
	color : #fff !important;
}
.navbar-brand:hover {
	color : #b3de1d !important;
}

#loginForm input{
	width:100%;
  	margin-bottom : 10px;
}

#loginForm button {
	width:100%;
}

#search input {
	width : 100%;
    margin-bottom : 10px;
	background-color : #f1f1f1;
}
#search button {
	width : 100%;
	height:34px;
}
#card {

}
#card .panel {
	border: 9px solid rgba(0, 0, 0, 0.8);
	min-height :450px;
}
#card .panel-body {
	margin-top:40px;
}
#card .panel-heading.title{
  	border-radius : 0px;
  	padding : 10px 15px;
}
#card .panel-heading.title h4{
	font-size :23px;
	padding : 0px;
}

#card input {
	background-color :#f1f1f1;
	width : 100%;
  	outline : none;
	border:none;
	height:50px;
	color :#474747;
	padding-left :60px;
	box-shadow: inset 0 0 6px rgba(0,0,0,.1);
}
#card textarea {
	background-color :#f1f1f1;
	width : 100%;
  	outline : none;
	border:none;
	height:50px;
	color :#474747;
	padding : 15px 0px 0px 60px;
}
.icon {
	background-color: #b3de1d;
	width: 50px;
	height: 50px;
	font-size: 30px;
	padding: 10px;
	border-radius: 4px;
	position: absolute;
}
#card .btn-primary {
	width:100%;
	height : 50px;
	color:#000;
	background-color: #b3de1d;
	border-color: #8DB20C;
}
#card .btn-primary:hover {
	box-shadow: inset 0 0 6px rgba(0,0,0,.1);
}
#WallPostForm .panel-heading.title{
	padding-left :25px;
}
#WallPostForm h4{
	padding:0px;
}	
#WallPostForm textarea{
	width:100%;
	border: 0px none;
	padding :5px;
  	background-color : #f1f1f1;
}
#WallPostForm input {
	width:100%;
}
#WallPostForm button {
	width:100%;
}
#wall {
	margin-top:15px;
}

#msgButton {
	margin-top:15px;
}
@media screen and (min-width: 360px){
	.cover{
		height:125px;
		width: 100%;
	}
}

@media screen and (min-width: 640px){
	.chat-list {
         display : table-cell;
    }
}
@media screen and (min-width:768px ){
   .author-image{
		left: 45%;
   }
   
   .cover{
		height:250px;
		width: 100%;
   }
   .profile{
		top: -155px;
		left: 20px;
   }
   .profile-image{
	  width:150px;
	  height:150px;
	  margin-top:0px;
   }

  .localle {
      border : none;
  }

  .messages .btn {
	  width : 19%;
	  margin-right:-9px;
	
  }
  .messages textarea {
	  height : 34px;
	  width : 81% !important;
  }
  .chats .list-group-item {
	  display : block;
  }

  #loginForm input{
	  margin-top:8px;
      width : 92px;
  }
  #loginForm button {
      margin-top : -2px;
	  width :65px;
  }
  #search input {
  	  margin-top:8px;
      width : 150px;
  }
  #search button {
      margin-top : -2px;
  	  margin-left : -6px;
	  width :40px;
  }
  .navbar {
	  border-radius:0px;
  }
  .item img {
	  height :550px !important;
  }

}

@media screen and (min-width:992px ){
	.cover {
  	height:400px;
  	background-attachment : fixed;
  	background-size : 100%;
  }
	.profile {
		width: 100%;
		top: -184px;
		left: -15px;
		position: absolute;
		color: #fff;
	}
	.profile-image {
		width : 175px;
		height: 175px;
		margin-top:0px;
	}

  .localle {
		margin-top: 4px;
    padding :15px;
  }
	.localle img { 
		width : 25px;
		height: 25px;
	}
  .item img {
		height :750px !important;
	}
	.chats {
	    width :200px;
	}
    .chats .media-body {
        display : table-cell;
    }
    .chats .list-group-item {
	    display : block;
    }
	.chats .media-left {
        padding-right : 10px;
    }
  #loginForm input{
	  margin-top:8px;
    width : 125px;
	}
	#loginForm button {
	}
	#search input {
  	margin-top:8px;
    width : 505px;
	}
	#search button {
  	margin-left : -6px;
	}
  .messages .btn {
	  width : 14%;
	  margin-right:-9px;
	
  }
  .messages textarea {
	  height : 34px;
	  width : 86% !important;
  }
   .author-image{
		left: 41%;
   }
   #wall {
   		margin-top: 20px;
   }
}

@media screen and (min-width:1580px ){
  .sidebar-block img {
	  width : 65px;
	  height : 65px;
  }
  .profile-image {
	  width : 250px;
	  height: 250px;
   }
   #wall {
   	  margin-top: 80px;
   }
}